<div class="op-menu">
  <nav class="op-menu-nav">
    <ul class="op-menu-list">
      <li class="op-menu-item">
        <a class="op-menu-link" href="/">
          <span class="op-menu-link__icon"><i class="fa-solid fa-house"></i></span>
          <span class="op-menu-link__label">Inicio</span>
        </a>
      </li>
      <li class="op-menu-item">
        <a class="op-menu-link" href="/upload">
          <span class="op-menu-link__icon"><i class="fa-regular fa-circle-up"></i></span>
          <span class="op-menu-link__label">Subir</span>
        </a>
      </li>
      <li class="op-menu-item">
        <a class="op-menu-link" href="/assign">
          <span class="op-menu-link__icon"><i class="fa-solid fa-chart-gantt"></i></span>
          <span class="op-menu-link__label">Asignar</span>
        </a>
      </li>
      <li class="op-menu-item">
        <a class="op-menu-link" href="/view">
          <span class="op-menu-link__icon"><i class="fa-solid fa-square-poll-vertical"></i></span>
          <span class="op-menu-link__label">Informes</span>
        </a>
      <li></li>
    </ul>
  </nav>
</div>