<div class="op-menu">
  <nav class="op-menu-nav">
    <ul class="op-menu-list">
      <li class="op-menu-item">
        <a class="op-menu-link" href="/">
          <span class="op-menu-link__icon"><i class="fa-solid fa-house"></i></span>
          <span class="op-menu-link__label">Inicio</span>
        </a>
      </li>
    </ul>
  </nav>
</div>