/* Colors */
$primary: #008800 !default;
$body-bg: #f4f4f4 !default;
$body-color: #222 !default;

/* Transitions */
$transition-fast-duration: 0.1s !default;
$transition-fast-timing: ease-in-out !default;
$transition-fast: $transition-fast-duration $transition-fast-timing !default;
$transition-base-duration: 0.25s !default;
$transition-base-timing: ease-in-out !default;
$transition-base: $transition-base-duration $transition-base-timing !default;

/* Fonts */
$font-family-sans-serif: 'Noto Sans', sans-serif !default;

/* Headings */
$headings-font-weight: 600 !default;

/* Body */
$body-padding-y: 1.5rem !default;
$body-padding-x: 1.5rem !default;

/* Card */
$card-bg: #FFF !default;
$card-border-width: 0 !default;
$card-padding-y: 1rem !default;
$card-padding-x: 1rem !default;
$card-border-radius: 0.5rem !default;
$card-cap-bg: inherit !default;
$card-header-padding-y: 0.75rem !default;
$card-header-padding-x: $card-padding-x !default;
$card-footer-padding-y: 0.75rem !default;
$card-footer-padding-x: $card-padding-x !default;

/* Table */
$table-bg: #FFF !default;

/* Form */
$input-bg: #FAFAFA !default;

/* Menu */
$op-menu-bg: #FFF !default;
$op-menu-width: 300px !default;
$op-menu-height: 6rem !default;
$op-menu-gap: 0.5rem !default;
$op-menu-padding-y: 1rem !default;
$op-menu-padding-x: 1rem !default;
$op-menu-link-padding-y: 0.625rem !default;
$op-menu-link-padding-x: 1rem !default;
$op-menu-link-font-size: 1.25rem !default;
$op-menu-link-font-weight: 400 !default;
$op-menu-link-border-radius: 0.375rem !default;
$op-menu-link-icon-width: 2rem !default;
$op-menu-link-icon-margin: 0.5rem !default;
$op-menu-link-icon-size: 1.375rem !default;
