<section>
    <h1 class="mt-3 mb-4">Nuevo usuario</h1>
    <div class="card">
        <div class="card-body">
            <form action="/settings/users/add" method="post">
                <div class="row g-3">
                    <div class="col-12 col-lg-6">
                        <div class="form-floating">
                            <input type="text" class="form-control" name="name" placeholder required>
                            <label>Nombre</label>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="form-floating">
                            <input type="text" class="form-control" name="surname" placeholder>
                            <label>Apellidos</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-floating">
                            <input type="text" class="form-control" name="username" placeholder required>
                            <label>Nombre de usuario</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-floating">
                            <input type="email" class="form-control" name="email" placeholder required>
                            <label>Correo electrónico</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-floating">
                            <input type="password" class="form-control" name="password" placeholder required>
                            <label>Contraseña</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-floating">
                            <select class="form-select" name="role" required>
                                <option value="client">Cliente</option>
                                <option value="employee">Empleado</option>
                                <% if (sessionUser.role === 'admin') { %>
                                    <option value="manager">Gerente</option>
                                    <option value="admin">Administrador</option>
                                <% } %>
                            </select>
                            <label>Rol</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-floating">
                            <input type="text" class="form-control" name="nif" placeholder>
                            <label>NIF</label>
                        </div>
                    </div>
                    <% if (companies.length > 0) { %>
                        <div class="col-12">
                            <div class="form-floating">
                                <select class="form-select" name="company">
                                    <option value="" selected>Sin empresa</option>
                                    <% companies.forEach(company => { %>
                                        <option value="<%= company.id %>"><%= company.name %> — <%= company.cif %></option>
                                    <% }); %>
                                </select>
                                <label>Empresa</label>
                            </div>
                        </div>
                    <% } %>
                    <div class="col-12">
                        <hr class="m-0">
                    </div>
                    <div class="col-12">
                        <div class="form-floating">
                            <input type="text" class="form-control" name="phone" placeholder>
                            <label>Teléfono</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-floating">
                            <input type="text" class="form-control" name="address" placeholder>
                            <label>Dirección</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </div>
            </form>
        </div>
</section>