<section>
    <div class="text-center" style="padding: 10rem 0;">
        <h1 class="fw-bold mb-0" style="font-size: 8rem;">404</h1>
        <p class="fs-4">Página no encontrada</p>
        <a href="javascript:history.back()" class="btn btn-sm btn-outline-primary">
            <i class="fa-solid fa-arrow-left"></i>
            Volver a la página anterior
        </a>
    </div>
</section>