<section>
  <h1 class="mt-3">Asignar aulas</h1>
  <p>Asigna aulas según los horarios, sus características y los datos procesados.</p>
</section>

<section class="mt-5">
  <div class="card">
    <div class="card-body text-center">
      <div class="card-body">
        <div class="spinner-border text-primary mt-4" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
        <p class="text-body-secondary">Los datos de las aulas están siendo procesados, por favor espera...</p>
      </div>
    </div>
  </div>
</section>