<section>
  <h1 class="mt-3">Bienvenido</h1>
  <p>Sube los datos de la universidad en CSV para que puedan ser procesados y almacenados en la base de datos.</p>
</section>

<section class="mt-5">
  <div class="row">
    <div class="col-12 col-lg-4">
      <div class="card">
        <div class="card-header">
          <h4>Procesar CSV</h4>
        </div>
        <div class="card-body">
          <p>Sube archivos CSV para procesarlos y almacenarlos en la base de datos.</p>
          <a href="/upload" class="btn btn-primary">Subir CSV</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-4">
      <div class="card">
        <div class="card-header">
          <h4>Asignar aulas</h4>
        </div>
        <div class="card-body">
          <p>Asigna aulas según los horarios, sus características y los datos procesados.</p>
          <a href="/assign" class="btn btn-primary">Procesar aulas</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-4">
      <div class="card">
        <div class="card-header">
          <h4>Ver aulas</h4>
        </div>
        <div class="card-body">
          <p>Visualiza las aulas asignadas, sus características, informes y horarios.</p>
          <a href="/view" class="btn btn-primary">Mostrar aulas</a>
        </div>
      </div>
    </div>
  </div>
</section>