<section>
  <h1 class="mt-3">Upload CSV</h1>
  <p>Sube los datos de la universidad en CSV para que puedan ser procesados y almacenados en la base de datos.</p>
</section>

<section class="mt-5">
  <div class="card">
    <div class="card-body">
      <form action="/upload" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <label for="csv">Subir archivos CSV</label>
          <input type="file" class="form-control" id="csv" name="csv">
        </div>
        <button type="submit" class="btn btn-primary mt-4">Subir CSV</button>
      </form>
    </div>
  </div>
</section>